<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>

<!--基本网格-->
<div class="container">
    <h2>基本网格</h2>
    <div class="row">
        <div class="col-1" style="border: solid 1px; background-color: red">col-1</div>
        <div class="col-1" style="border: solid 1px; background-color: red">col-1</div>
        <div class="col-1" style="border: solid 1px; background-color: red">col-1</div>
        <div class="col-1" style="border: solid 1px; background-color: red">col-1</div>
        <div class="col-1" style="border: solid 1px; background-color: red">col-1</div>
        <div class="col-1" style="border: solid 1px; background-color: red">col-1</div>
        <div class="col-1" style="border: solid 1px; background-color: red">col-1</div>
        <div class="col-1" style="border: solid 1px; background-color: red">col-1</div>
        <div class="col-1" style="border: solid 1px; background-color: red">col-1</div>
        <div class="col-1" style="border: solid 1px; background-color: red">col-1</div>
        <div class="col-1" style="border: solid 1px; background-color: red">col-1</div>
        <div class="col-1" style="border: solid 1px; background-color: red">col-1</div>
    </div>
    <div class="row">
        <div class="col-4" style="border: solid 1px; background-color: #0c5460">col-4</div>
        <div class="col-4" style="border: solid 1px; background-color: #0c5460">col-4</div>
        <div class="col-4" style="border: solid 1px; background-color: #0c5460">col-4</div>
    </div>
    <div class="row">
        <div class="col-4" style="border: solid 1px; background-color: #1c7430">col-4</div>
        <div class="col-8" style="border: solid 1px; background-color: #1c7430">col-8</div>
    </div>
    <div class="row">
        <div class="col-6" style="border: solid 1px; background-color: #005cbf">col-6</div>
        <div class="col-6" style="border: solid 1px; background-color: #005cbf">col-6</div>
    </div>
    <div class="row">
        <div class="col-12" style="border: solid 1px; background-color: #007bff">col-12</div>
    </div>
</div>

<br/>
<br/>

<!--等宽响应式列-->
<div class="container">
    <h2>等宽响应式列</h2>
    <div class="row">
        <div class="col-sm-3" style="background-color:lavender;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavender;">.col-sm-3</div>
        <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>
    </div>
</div>

<br/>
<br/>

<!--不等宽响应式列-->
<div class="container">
    <h2>不等宽响应式列</h2>
    <div class="row">
        <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
        <div class="col-sm-8" style="background-color:lavenderblush;">.col-sm-8</div>
    </div>
</div>

<br/>
<br/>

<!--平板和桌面端-->
<div class="container">
    <h2>平板和桌面端</h2>
    <div class="row">
        <div class="col-sm-3 col-md-6 bg-success">
            RUNOOB
        </div>
        <div class="col-sm-9 col-md-6 bg-warning">
            菜鸟教程
        </div>
    </div>
</div>

<br/>
<br/>

<!--平板、桌面、大桌面显示器、超大桌面显示器-->
<div class="container">
    <h2>平板、桌面、大桌面显示器、超大桌面显示器</h2>
    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2 bg-success">
            RUNOOB
        </div>
        <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10 bg-warning">
            菜鸟教程
        </div>
    </div>
</div>

<br/>
<br/>

<!--偏移列-->
<div class="container">
    <h2>偏移列</h2>
    <div class="row">
        <div class="col-md-4 bg-success">.col-md-4</div>
        <div class="col-md-4 offset-md-4 bg-warning">.col-md-4 .offset-md-4</div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-3 bg-success">.col-md-3 .offset-md-3</div>
        <div class="col-md-3 offset-md-3 bg-warning">.col-md-3 .offset-md-3</div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 bg-success">.col-md-6 .offset-md-3</div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>