<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>

<!--圆角图片 .rounded-->
<div class="container">
    <h2>圆角图片</h2>
    <p>.rounded 类可以让图片显示圆角效果：</p>
    <img src="../static/images/Accord.jpg" class="rounded" alt="Accord"/>
</div>

<br/>
<br/>

<!--椭圆图片 .rounded-circle-->
<div class="container">
    <h2>椭圆图片</h2>
    <p>.rounded-circle 类可以设置椭圆形图片:</p>
    <img src="../static/images/Accord.jpg" class="rounded-circle" alt="Accord">
</div>

<br/>
<br/>

<!--缩略图(图片有边框)-->
<div class="container">
    <h2>缩略图</h2>
    <p>.img-thumbnail 类用于设置图片缩略图(图片有边框):</p>
    <img src="../static/images/Accord.jpg" class="img-thumbnail" alt="Accord">
</div>

<br/>
<br/>

<!--图片对齐方式-->
<div class="container">
    <h2>图片对齐方式</h2>
    <p>使用 .float-right 类来设置突破右对齐，使用 .float-left 类设置图片左对齐:</p>
    <img src="../static/images/学习.jpg" class="float-left" alt="Accord" width="300" height="300">
    <img src="../static/images/Accord.jpg" class="float-right" alt="Accord" width="300" height="300">
</div>

<br/>
<br/>

<!--响应式图片-->
<div class="container">
    <h2>响应式图片</h2>
    <p>.img-fluid 类可以设置响应式图片，重置浏览器大小查看效果:</p>
    <img src="../static/images/Accord.jpg" class="img-fluid"/>
</div>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>