<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>

<!--简单的卡片-->
<div class="container">
    <h2>简单的卡片</h2>
    <div class="card">
        <div class="card-body">简单的卡片</div>
    </div>
</div>

<br/>
<br/>

<!--头部和底部-->
<div class="container">
    <h2>卡片头部和底部</h2>
    <div class="card">
        <div class="card-header">头部</div>
        <div class="card-body">内容</div>
        <div class="card-footer">底部</div>
    </div>
</div>

<br/>
<br/>

<!--多种颜色卡片-->


<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>